#root {
  max-width: 1280px;
  margin: 0 auto;
  height: 100vh;
}

.app-body {
  padding-bottom: 24px;
}

.bottom-loggout {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}

@media screen and (max-width: 580px) {
  .bottom-loggout {
    display: flex;
  }
}