
.main {
    display: flex;
    margin-top: 150px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .main-heading {
    margin-bottom: 0;
    text-align: center;
  }

  @media screen and (min-width: 580px) {
    .main {
      font-size: 24px;
    }
    
  }

  
  .main-description {
    font-weight: 300;
    color: #16C47F;
    opacity: 0.8;
  }
  
  .app-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
  
  .app-input-input {
    height: 40px;
    min-width: 450px;
    border-radius: 20px;
    padding: 0 16px;
    border: 1px solid #16C47F;
    background-color: #0f0f0f;
    color: #16C47F;
  }
  @media screen and (max-width: 580px) {
    .app-input-input {
      min-width: 300px;
    }
  }
  
  .app-input-error {
    color: #c82a2a;
    font-size: 12px;
  }
  
  .app-submit {
    margin-top: 16px;
  }
  
  .app-submit-btn {
    height: 40px;
    min-width: 100px;
    border-radius: 20px;
    padding: 0 16px;
    border: 1px solid #16C47F;
    background-color: #16C47F;
    color: #0f0f0f;
    font-weight: 600;
  }
  
  .app-submit-btn:hover {
    background-color: #0f0f0f;
    color: #16C47F;
    cursor: pointer;
  }